<html lang="en">
  <!--import header from header.ejs-->
  <%- include('./partials/header.ejs') %>
  <body>
    <!--import navbar from nav.ejs-->
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      <h2>About us</h2>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>

    <!--import footer from footer.ejs-->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
